<section class="about" id="about">
  <div class="about-img">
    <img src="assets/img-2.png" alt="About Image" />
  </div>
  <div class="about-text">
    <h2>About <span>Me</span></h2>
    <h4>Java Developer</h4>
   <p>
      I’m a Java Developer with 1.2+ years of experience, including onsite work at 
      <strong>Yes Bank</strong> on client-based Spring Boot projects. I specialize in 
      building secure, scalable backend systems and REST APIs with Java and strong 
      database integration.
      <strong>Key Skills:</strong> Java, Spring Boot, Hibernate, JSP,
      Servlets, JDBC, MySQL, Oracle.
    </p>

    <a href="" class="btn-box">More About Me</a>
  </div>
</section>
