<footer class="footer">
  <div class="footer-text">
    <!-- <h2>Contact <span>Me</span></h2> -->
    <h2>Let's Connect</h2>
    <span
      ><h4>
        I am a passionate Java and Angular developer skilled in multiple
        technologies like Angular,Java, Spring Boot, Hibernate, JSP, Servlets,
        JDBC, MySQL, Oracle.. Always eager to collaborate on exciting projects!
      </h4></span
    >

    <ul class="footer-list">
      <li>
        <i class="bx bxs-send"></i>Developer: Mewalalloniya004&#64;gmail.com
      </li>
      <li><i class="bx bxs-phone"></i>Phone : +91 7021278920</li>
    </ul>

    <!-- <div class="footer-icons">
            <a href=""><i class="bx bxl-facebook-circle"></i></a>
            <a href=""><i class="bx bxl-twitter"></i></a>
            <a href=""><i class="bx bxl-instagram"></i></a>
            <a href=""><i class="bx bxl-linkedin"></i></a>
        </div> -->
  </div>

  <div class="footer-bottom">
    <p>&copy; 2025 Mewalal Loniya. All Rights Reserved.</p>
  </div>
</footer>
<a href="#" class="top"><i class="bx bx-up-arrow-alt"></i></a>
