
.header {
  position: fixed;
  background: #081b29; 
   top: 0;
  left: 0;
  width: 100%;
  padding: 20px 10%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  position: relative;
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  cursor: default;
  opacity: 0;
  animation: slideRight 1s ease forwards;
}

.navbar a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  margin-left: 25px;
  transition: .3s;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: calc(.2s * var(--i));

}
.navbar a:hover {
  color: #0ef;
  
}
