<section class="home" id="home">
  <div class="home-content">
    <h3>Hello It'Me</h3>
    <h1>Mewalal Loniya</h1>
    <h3>And I'm a <span class="text"></span></h3>
    <p>
      <strong>I’m a Passionate Java developer</strong> with
      <strong
        >experience working onsite for <b>Yes Bank</b> as a client
        project</strong
      >. I focus on writing clean, efficient, and scalable code that supports
      real-world business needs. <br /><br />
      I maintain a disciplined and dedicated work approach, enabling me to
      deliver solutions that are
      <strong>high-performance, reliable, and professionally crafted</strong>.
      My goal is simple: build applications that create real impact and
      consistently exceed client expectations.
    </p>

    <div class="home-sci">
      <a
        href="https://www.linkedin.com/in/mewalal-loniya-4273b7307?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"
        target="_blank"
        style="--i: 10"
      >
        <i class="bx bxl-linkedin"></i>
      </a>
      <a href="https://github.com/Mewalal" target="_blank" style="--i: 11">
        <i class="bx bxl-github"></i>
      </a>
      <a
        href="https://account.hackthebox.com/Mewalal003"
        target="_blank"
        style="--i: 12"
      >
        <i class="bx bxl-codepen"></i>
      </a>
      <a href="https://wa.me/7021278920" target="_blank" style="--i: 9">
        <i class="bx bxl-whatsapp"></i>
      </a>
    </div>

    <a class="btn-box">More About</a>
  </div>
  <span class="home-imghover"></span>
</section>
