<section>
  <div class="services" id="services">
    <div class="container">
      <h1 class="sub-title">My <span>Sevices</span></h1>
      <div class="services-list">
        <div>
          <i class="bx bx-code" style="color: #00eeff"></i>
          <h2>Web Development</h2>
          <p>
            Full-stack web development involves a wide range of languages and
            technologies to build responsive, functional, and scalable web
            applications. My expertise includes backend technologies like Java,
            Spring Boot, JDBC, Hibernate, Servlets, JSP, and Node.js —
            along with frontend technologies such as HTML, CSS, JavaScript,
            Angular, and TypeScript.
          </p>
          <a href="" class="read"> Learn More</a>
        </div>
        <div>
          <i class="bx bx-crop" style="color: #00eeff"></i>
          <h2>UI/UX DESIGN</h2>
          <p>
            Crafting creative and responsive UI/UX designs using Angular, Figma,
            Adobe XD, and Bootstrap to enhance user experience and
            accessibility. Focused on modern design trends, intuitive layouts,
            wireframing, prototyping, and interactive elements that deliver
            seamless user journeys.
          </p>

          <a href="" class="read"> Learn More</a>
        </div>
        <div>
          <i class="bx bxl-apple" style="color: #00eeff"></i>
          <h2>Enterprise Applications</h2>
          <p>
            I specialize in developing scalable, secure, and high-performance
            enterprise applications using Java and related enterprise frameworks
            such as Spring Boot, Spring MVC, Hibernate, JSP, Servlets, and JDBC.
            My focus is on building robust RESTful APIs, implementing secure
            authentication systems, managing relational databases using MySQL
            and Oracle.
          </p>

          <a href="" class="read"> Learn More</a>
        </div>
      </div>
    </div>
  </div>
</section>
